.WeatherForecast {
  margin-top: 30px;
  color: #747474;
}

.WeatherForecast .WeatherForecastSection {
  margin-top: 7px;
  border-radius: 15px;
  padding: 13px 10px 0 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.WeatherForecast ul {
  list-style: none;
  text-align: center;
  padding: 0;
  font-weight: 300;
}

.WeatherForecast li {
  font-size: 15px;
}

.WeatherForecast .forecastHeading {
  padding: 0 10px;
  color: #5b5b5b;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.WeatherForecast .forecast-temp-min {
  color: #9c9c9c;
  margin-left: 4px;
}

.WeatherForecast .forecast-temp-max {
  color: #747474;
  margin-left: 4px;
}

.WeatherForecast canvas {
  margin: 10px auto;
}

.WeatherForecast .col-formatting {
  padding: 0;
}
